.aboutme-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.text-container {
    /* display: flex; */
    /* font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 28px;
    max-width: 600px;
    text-align: center;
    font-weight: 200;
    color: grey
}

.color-span {
    color:var(--primary-color);
    color: var(--secondary-color);
    font-weight: 400;
}