.aboutme-section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.about-text {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 28px;
    max-width: 600px;
    text-align: center;
    font-weight: 200;
    color: grey;
    z-index: 0;
}

.color-span {
    color:var(--primary-color);
    color: var(--secondary-color);
    font-weight: 200;
}



