/* .container {
    padding: 0 40px;
    margin: 0 auto;
    container-type: inline-size;
    container-name: main;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
} */

.container {
    width: clamp(375px, 80vw, 1158px);
    padding-inline: clamp(16px, 5vw, 40px );
    margin-inline: auto;
    container-type: inline-size;
    container-name: main;
}

