.logo {
    font-size: 16px;
    font-weight: 600;
}

.nav-bar {
    display: none;
}

.header-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 7777;
    transform: translate(100%);
    transition: transform 250ms ease-out;  
}

.mobile-menu.active {
    transform: translate(0%);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 30px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    position: relative;
    background-image: linear-gradient(
	to bottom, 
	rgba(21, 21, 21, 0.7), 
	rgba(17, 17, 18, 0.7)
	),
    url(../assets/images/mobile-menu-background.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.close-button-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-button-style {
    fill: var(--secondary-color)
}

.nav-list-mobile-menu {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    font-weight: 400; 
    text-transform: lowercase;
}

/* socail media container */
.social-media-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socail-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0.5px solid var(--background-color);
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    background-color: transparent;
}

.color-icon {
    fill: var(--background-color);
    stroke: var(--background-color);
}
