.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    font-weight: 300;
    position: absolute;
}

.hero-text {
    text-transform: uppercase;
    font-family: var(--text-header);
    color: var(--background-color);
    font-size: 46px;
}

.first-word {
    z-index: 1;
    position: relative;
    bottom: 0;
    right: 20px;
}

.second-word {
    position: relative;
    top: 30px;
    left: 70px;
}

.hero-image img {
    width: 320px;
    animation: floatAnimation 3s ease-in-out infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-size: 60px;
    }

    .second-word {
        top: 30px;
        left: 40px;
    }

}

@media screen and (min-width: 1148px) {
    .hero-text {
        font-size: 98px;
    }
}
