.portfolio-section {
    position: relative;
    padding: clamp(16px, 12vw, 60px);
    container-type: inline-size;
    container-name: portfolio;
    padding-bottom: clamp(16px, 4vw, 40px);
    overflow: hidden;
    min-height: 10px;    
}

.portfolio-inner {
    will-change: transform;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 4vw, 64px);
    margin-right: clamp(0px, 2vw, 15px);
    container-type: inline-size;
}

.image-slider {
    width: clamp(280px, 40vw, 800px);
    aspect-ratio: 4 / 3;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
}

.im-sldr {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(12px, 2vw, 24px);
    font-size: clamp(14px, 1.2vw, 18px);
    padding: 12px;
}   

.portfolio-first-text {
    font-weight: 200;
    font-size: clamp(14px, 1vw, 15px);
}

.portfolio-second-text {
    font-size: clamp(16px, 1.4vw, 20px);
}

.portfolio-third-text {
    font-size: clamp(14px, 1.2vw, 16px);
}

.portfolio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--background-color);
    border: 1px solid var(--grey-color);
    padding: clamp(8px, 1vw, 10px) clamp(12px, 2vw, 15px);
    height: clamp(40px, 6vw, 50px);
    width: clamp(130px, 18vw, 205px);
    transition: var(--transition-animation);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--secondary-hover);
}

.icon-arrow-right {
    stroke: var(--secondary-color);
    width: clamp(18px, 2vw, 25px);
    height: clamp(18px, 2vw, 25px);
}

.portfolio-span {
    color: var(--secondary-hover);
}

@container portfolio (min-width: 768px) {
    .portfolio-container {
        flex-direction: row;
    }
}