section {
    padding: 50px 20px;
    background: var(--third-color);
}

[data-section] {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

[data-section].loaded {
    display: block;
    opacity: 1;
}

.hvr-sweep-to-right::before {
    background: var(--primary-color) !important;
    transition: all 0.5s ease !important;
}
