<section class="aboutme-section">
    <div class="text-container">
        <p>Всім привіт, я <span class="color-span">Саша</span> і мені 26 років. Народилась я у <span
                class="color-span">Кривому Розі</span> і у 3 рочки
            ми сім'єю переїхали жити в село
            під П'ятихатками.</p>
        <p>в 2009 після <span class="color-span">смерті дідуся</span> ми переїхали в <span class="color-span">Кривий
                ріг</span>, ще з дитинства це було
            місце <span class="color-span">моєї мрії</span>, хотіла там
            жити, а отже мрія <span class="color-span">здійснилася</span>, але найдорожчою ціною в світі</p>
        <p>і вже аж у <span class="color-span">2022</span> з подругою на заробітки зібралась в <span
                class="color-span">Польщу</span> і ми приїхали рівно за тиждень до нашого
            <span class="color-span">"спасіння"</span>недосусідами.В Польщі <span class="color-span">"конячила"</span> у
            декількох різних містах, а зараз живу поки що в <span class="color-span">Кракові</span>.
        </p>
    </div>
</section>