<section class="aboutme-section">
    <div class="text-container">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum deserunt molestias neque magnam provident
            fuga, nobis officiis maxime, ab veniam inventore totam id aliquam voluptatibus accusantium eius eaque.
            Dignissimos, est.
            Placeat facere quia maiores illo autem! Rem corrupti enim totam quasi vero voluptatibus consequatur
            praesentium aliquid veniam eum corporis, ea maiores dolore, sed mollitia tempora assumenda? Ducimus
            molestiae iste ut.
            Ab voluptatem rerum tenetur optio quidem officia amet autem tempora consequatur, placeat sed distinctio
            reprehenderit culpa expedita illo dolorem dicta odio. Mollitia enim accusantium illum cupiditate,
            laborum labore necessitatibus optio.</p>
    </div>
</section>