<section class="aboutme-section">
    <div class="about-text">
        <p class="text-first">Привіт! <span class="color-span">Мене звати Саша</span>, мені 26 років. Я народилася в
            Кривому Розі, але з раннього
            дитинства разом із родиною жила в
            селі поблизу <span class="color-span">П’ятихаток.</span>
            У <span class="color-span">2009</span> році, після втрати дідуся, ми повернулися до <span
                class="color-span">Кривого Рогу</span> — міста, яке завжди було
            для мене особливим. <span class="color-span">Я мріяла
                там жити ще з дитинства</span>, і мрія справдилась, хоча й за надто <span
                class="color-span"></span>болісних обставин.
        </p>
        <!-- <p class="text-third">У <span class="color-span">2022</span> році разом з подругою ми вирушили до Польщі в
            пошуках нових можливостей — і, як
            згодом виявилось, втекли
            буквально за <span class="color-span">кілька днів</span> до того, як розпочалась повномасштабна війна.</p> -->
        <!-- <p class="text-four">За цей час мені довелося побувати в різних містах Польщі, працювати на різних роботах,
            адаптуватися до нового
            середовища. Сьогодні я мешкаю в Кракові — місті, яке тимчасово стало моїм новим домом.</p> -->
    </div>
</section>