<!-- <section class="find-section">
    <div class="find-container">
        <h1 class="find-title">Що ти знайдеш у мені</h1>
        <ul class="find-list">
            <li class="find-block">Креативне бачення</li>
            <li class="find-block">Професіоналізм</li>
            <li class="find-block">Пристрасть</li>
            <li class="find-block">Адаптивність</li>
        </ul>
    </div>
</section> -->

<section class="find-section">
    <div class="find-container">
        <h1 class="find-title">Що ти знайдеш у мені</h1>
        <ul class="find-list">
            <li class="find-block">Креативне бачення</li>
            <li class="find-block">Професіоналізм</li>
            <li class="find-block">Пристрасть</li>
            <li class="find-block">Адаптивність</li>
        </ul>
    </div>
</section>