<section class="find-section">
    <div class="find-container">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugit illo nesciunt minima, cumque ipsum
            officiis eligendi dolorem officia error unde incidunt magni a repellat amet quibusdam fugiat? Tempora,
            magni?
            Saepe explicabo maxime rem tenetur vel assumenda in beatae asperiores inventore dignissimos vero, iste
            maiores, porro praesentium. Pariatur doloremque labore, minus, possimus nisi mollitia voluptate quam
            recusandae eveniet consequatur doloribus!</p>
    </div>
</section>