<div class="header-container">
    <a href="./header.html" class="logo-main">sashabardas</a>
    <!-- burger-icon -->
    <button class="burger-button-icon">
        <svg class="burger-button-style" aria-label="burger icon">
            <use href="/sprite.svg#burger-icon"></use>
        </svg>
    </button>
</div>
<!-- mobile-menu -->
<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
        <div class="mobile-header-container">
            <a href="./header.html" class="logo">sashabardas</a>
            <button class="close-button-icon">
            </button>
        </div>
        <nav class="nav-menu">
            <ul class="nav-list-mobile-menu">
                <li class="active-link opacity-about hvr-sweep-to-right"><a href="home"></a>home</li>
                <li class="opacity-about hvr-sweep-to-right"><a href="промене"></a>about me</li>
                <li class="opacity-about hvr-sweep-to-right"><a href="послуги"></a>price</li>
                <li class="opacity-about hvr-sweep-to-right"><a href="підкаст"></a>portfolio</li>
                <li class="opacity-about hvr-sweep-to-right"><a href="підкаст"></a>work</li>
                <li class="opacity-about hvr-sweep-to-right"><a href="підкаст"></a>reviews</li>
            </ul>
        </nav>
        <ul class="social-media-container">
            <li class="socail-media-list">
                <svg>
                    <use class="color-icon-instagram" href="/sprite.svg#icon-instagram"></use>
                </svg>
                <a href="" class="social-media-link">instagram</a>
            </li>
            <li class="socail-media-list">
                <svg>
                    <use class="color-icon-telegram" href="/sprite.svg#icon-telegram"></use>
                </svg>
                <a href="">telegram</a>
            </li>
            <li class="socail-media-list">
                <svg>
                    <use class="color-icon-gmail" href="/sprite.svg#icon-mail"></use>
                </svg>
                <a href="">mail.google</a>
            </li>
        </ul>
    </div>
</div>