<section class="hero-section">
    <div class="text-wrapper">
        <span class="first-word">Content</span>
        <span class="second-word">Creator</span>
    </div>
    <div class="hero-image">
        <img src="/src/assets/images/hero-section.JPG" alt="Hero image" />
    </div>
</section>

<!-- <div class="scroll-container">
    <div class="scroll" id="scroll-section">
        <p>александра бардас, з любов'ю до життя</p>
        <p>прокрутіть, щоб дізнатися більше</p>
        <button class="scroll-btn">працювати зі мною, це легкість</button>
    </div>
    <div class="line-section">
    </div>
</div> -->