<section class="hero-section">
    <div class="text-wrapper">
        <span class="first-word">Content</span>
        <span class="second-word">Creator</span>
    </div>
    <div class="hero-image">
        <img src="/src/assets/images/hero-section.JPG" alt="Hero image" />
    </div>
</section>

<div class="scroll-line-container" id="scroll-line">
    <div class="scroll-line-content">
        <p>александра бардас, з любов'ю до життя</p>
        <p class="text-svg">
            <svg class="arrow-svg" id="arrow-svg">
                <use href="/sprite.svg#icon-arrow"></use>
            </svg>
            прокрутіть, щоб дізнатися більше
        </p>
        <button class="scroll-btn">працювати зі мною, це легкість</button>
    </div>
    <div class="scroll-line-divider"></div>
</div>