<section class="portfolio-section">
    <div class="portfolio-inner">

        <div class="portfolio-container">
            <div class="image-slider">
                <img class="im-sldr" id="slider-image" src="/src/assets/images/photographer.jpeg" alt="slider image">
            </div>
            <div class="portfolio-text">
                <p class="portfolio-first-text" data-splitting>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Maxime nemo
                    vitae
                    illum!Odio maxime repudiandae
                    necessitatibus reiciendis, eos ducimus quidem, dolore tempora saepe iste dignissimos, ipsa pariatur
                    incidunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo vitae
                    illum!Odio maxime repudiandae
                    necessitatibus reiciendis, eos ducimus quidem, dolore tempora saepe iste dignissimos, ipsa pariatur
                    incidunt</p>
                <p class="portfolio-second-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <span
                        class="portfolio-span">Illum, voluptatem!
                        Minus deleniti commodi velit eaque aliquam minima iusto voluptatibus, modi temporibus quibusdam
                        necessitatibus, mollitia hic doloremque! Dolorem totam quo ipsam, repellat, odio reiciendis quis
                        quas
                        tempora culpa eius animi molestias.</span>
                    Dolor temporibus repellendus a odit? Nostrum, sit vero neque molestiae expedita eligendi facilis
                    odit
                    earum
                    nisi nihil doloribus dicta pariatur dolore ut soluta velit. Quas rerum autem nisi ad! Officia.</p>
                <p class="portfolio-third-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas neque
                    laudantium quidem ex porro
                    tempore
                    praesentium impedit libero blanditiis excepturi similique maiores voluptates eveniet nihil suscipit,
                    cumque
                    non.</p>

                <button class="portfolio-button">Book a session
                    <svg class="icon-arrow-right" id="icon-arrow-right">
                        <use href="/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</section>