<section class="portfolio-section">
    <div class="portfolio-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo vitae illum! Odio maxime repudiandae
            necessitatibus reiciendis, eos ducimus quidem, dolore tempora saepe iste dignissimos, ipsa pariatur incidunt
            a laudantium.
            Adipisci ipsam assumenda dignissimos dolor harum consequatur neque, ea porro blanditiis, minima alias, velit
            cum delectus eum voluptatum earum molestiae eveniet minus? Et assumenda, deleniti iste in nobis veritatis
            ipsa?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas neque laudantium quidem ex porro tempore
            praesentium impedit libero blanditiis excepturi similique maiores voluptates eveniet nihil suscipit, cumque
            non. Illum, voluptatem!
            Minus deleniti commodi velit eaque aliquam minima iusto voluptatibus, modi temporibus quibusdam
            necessitatibus, mollitia hic doloremque! Dolorem totam quo ipsam, repellat, odio reiciendis quis quas
            tempora culpa eius animi molestias.
            Dolor temporibus repellendus a odit? Nostrum, sit vero neque molestiae expedita eligendi facilis odit earum
            nisi nihil doloribus dicta pariatur dolore ut soluta velit. Quas rerum autem nisi ad! Officia.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas neque laudantium quidem ex porro tempore
            praesentium impedit libero blanditiis excepturi similique maiores voluptates eveniet nihil suscipit, cumque
            non. Illum, voluptatem!
            Minus deleniti commodi velit eaque aliquam minima iusto voluptatibus, modi temporibus quibusdam
            necessitatibus, mollitia hic doloremque! Dolorem totam quo ipsam, repellat, odio reiciendis quis quas
            tempora culpa eius animi molestias.
            Dolor temporibus repellendus a odit? Nostrum, sit vero neque molestiae expedita eligendi facilis odit earum
            nisi nihil doloribus dicta pariatur dolore ut soluta velit. Quas rerum autem nisi ad! Officia.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas neque laudantium quidem ex porro tempore
            praesentium impedit libero blanditiis excepturi similique maiores voluptates eveniet nihil suscipit, cumque
            non. Illum, voluptatem!
            Minus deleniti commodi velit eaque aliquam minima iusto voluptatibus, modi temporibus quibusdam
            necessitatibus, mollitia hic doloremque! Dolorem totam quo ipsam, repellat, odio reiciendis quis quas
            tempora culpa eius animi molestias.
            Dolor temporibus repellendus a odit? Nostrum, sit vero neque molestiae expedita eligendi facilis odit earum
            nisi nihil doloribus dicta pariatur dolore ut soluta velit. Quas rerum autem nisi ad! Officia.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas neque laudantium quidem ex porro tempore
            praesentium impedit libero blanditiis excepturi similique maiores voluptates eveniet nihil suscipit, cumque
            non. Illum, voluptatem!
            Minus deleniti commodi velit eaque aliquam minima iusto voluptatibus, modi temporibus quibusdam
            necessitatibus, mollitia hic doloremque! Dolorem totam quo ipsam, repellat, odio reiciendis quis quas
            tempora culpa eius animi molestias.
            Dolor temporibus repellendus a odit? Nostrum, sit vero neque molestiae expedita eligendi facilis odit earum
            nisi nihil doloribus dicta pariatur dolore ut soluta velit. Quas rerum autem nisi ad! Officia.</p>
    </div>
</section>